Django>=4.0
psycopg2-binary>=2.8
djangorestframework>=3.13
django-cors-headers>=3.11
django-environ>=0.8
markdown>=3.3
django-filter>=21.1
django-guardian>=2.4.0
django-debug-toolbar>=3.2
django-extensions>=3.1
djangorestframework-gis>=0.18
redis>=4.0
hiredis>=2.0
requests>=2.27
django-storages[google]>=1.12